{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h2 id="header">Create a New Page</h2>
    <form method="post" action="{% url 'create_entry' %}" >
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5" column="3"  placeholder="Description" name="content"></textarea>
      </div>
      <button type="submit" class ="btn btn-outline-primary">Submit</button>
    </form>

{% endblock %}
